:root {
	--P3Blue1: #4EA3FE;
	--P3Blue2: #0C89E9;
	--P3Blue3: #002E48;
	--P3Yellow: #FFBE5F;
    
    --toolbarbutton-icon-fill: var(--P3Blue3) !important;
    --toolbar-color: var(--P3Blue3) !important;
	--button-background-color-hover: #002E4830 !important; /* P3Blue3 with low alpha */
	--button-background-color-active: #002E4830 !important;
}

/* Background image */
#navigator-toolbox {
	background-image: url("../images/bg.png");
 	background-position: top right;
}

/* Transparent toolbars */
#nav-bar, #toolbar-menubar, #PersonalToolbar, #browser-panel {
	background-color: transparent !important;
}

/* line below navbar */
#navigator-toolbox {
	border-bottom: none !important;
}

/* extension notification color */
.toolbarbutton-badge {
	background-color: var(--P3Blue1) !important;
	color: rgba(220, 242, 255, 1) !important;
}

#urlbar-container {
    --urlbar-container-height: 40px !important;
}

#personal-bookmarks {
	margin-top: -2px;
}

#urlbar {
	border: 1px solid #00000055 !important;
	border-radius: 1px 10px 1px 10px !important;
	margin-top: 2px;
}

#urlbar-background {
	border-radius: 1px 9px 1px 9px !important;
	background-color: white !important;
}

/* Change Color of bottom left thing */
#statuspanel-label {
	background-color: var(--P3Blue2) !important;
	color: var(--P3Blue3) !important;
	border: none !important;
}

/* Top right buttons dark blue */
:root:not([sizemode=normal]) .titlebar-button {
	stroke: var(--P3Blue3) !important;
}

:root[sizemode=normal] #new-tab-button, 
:root[sizemode=normal] #alltabs-button {
	color: inherit !important;
}

:root:not([sizemode=normal]) #new-tab-button, 
:root:not([sizemode=normal]) #alltabs-button {
	color: var(--P3Blue3) !important;
}

/* Overflow arrows */
#scrollbutton-up > .toolbarbutton-icon {
	fill: var(--P3Blue1);
	fill-opacity: 1;
}

#scrollbutton-down > .toolbarbutton-icon {
	fill: var(--P3Blue3);
	fill-opacity: 1;
}

/* remove shadow from overflow arrows */
spacer[part="overflow-end-indicator"], spacer[part="overflow-start-indicator"] {
	display: none; 
}

/* remove new tab button */
#tabs-newtab-button {
	display: none !important; 
}

/* Menu bar covers tabs when visible */
#toolbar-menubar:not([inactive]) + #TabsToolbar {
    display: none;
}

#toolbar-menubar:not([inactive]) {
    margin-bottom: 2px;
	margin-top: 8px;
	color: white;
}

#main-menubar > menu {
	font-size: 15px;
}

/* Hide tab close button */
.tab-close-button {
	display: none;
}
