/* remove "open all in tabs" and seperator from bookmark folders */
.openintabs-menuitem,
.bookmarks-actions-menuseparator {
	display: none;
}

/* Hide options in Bookmark menu ****************************************************************************/
#BMB_viewBookmarksSidebar,
#BMB_bookmarksShowAllTop,
#BMB_bookmarksToolbar,
#BMB_unsortedBookmarks,
#widget-overflow-mainView > .panel-subview-body >  .PanelUI-subView toolbarseparator, .cui-widget-panelview menuseparator {
  display: none;
}

.small-separator {
  display: inherit !important;
}

/************************************************************************************************************/

/* Remove the "Sign in to sync" from top of hamburger menu. */

#appMenu-fxa-status2, #appMenu-fxa-separator {
  display: none !important;
}

/* Remove email image from context menu */
#context-sendimage {
  display: none;
}

/* hide new tab favicon */
.tabbrowser-tab[image^="chrome://branding/"]:not([pinned]) .tab-icon-image {
	display: none !important;
}

/* Get rid of that annoying flash of white when loading new pages. */
browser, browser.display.background_color, tabbrowser tabpanels {
    background-color: #222222 !important;
}

/* white flash fix */
browser[type="content-primary"], 
browser[type="content"] {
    background: #222222 !important;
}

#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] &gt; html {
    background: #222222 !important; 
    background-color: #222222 !important; 
    color: #222222 !important;
}

/* Remove blue flash on tab load */
.tab-loading-burst {
  display: none;
}
