:root {
    --active-tab-color: var(--P3Yellow);
    --hover-tab-color: var(--P3Blue1);
    --inactive-tab-color: var(--P3Blue2);
    --tab-border-color: var(--P3Blue3);
    --active-tab-text-color: var(--P3Blue3);
    --inactive-tab-text-color: #DCF2FF;
    
    --tab-height: 32px;
    --tab-margin-top: 1px;
    --tab-min-height: var(--tab-height) !important;
}

/* *****************************************************
  Tab Stuff
********************************************************/
.tabbrowser-tab {
    margin-top: var(--tab-margin-top) !important;
    max-height: var(--tab-height);
    background-image: none !important; /* Makes it work with light/dark themes */
    /* Overlap the tabs */
    margin-left: -24px !important;
}

.tab-stack, .tab-content {
    max-height: inherit;
}

#tabbrowser-tabs {
    min-height: var(--tab-height) !important;
}

.tab-background {
    background-color: transparent !important;
    box-shadow: none !important;
}

.tabbrowser-tab::before, .tabbrowser-tab::after {
    display: flex;
    content: "";
    border: solid 23px var(--inactive-tab-color); /* Changes angle of tabs */
    border-top: solid var(--tab-height) transparent;
    border-bottom: solid 0px transparent;
}

.tabbrowser-tab::before {
    border-left: solid 0px transparent;
    filter: drop-shadow(-1px 0px 0px var(--tab-border-color));
}

.tabbrowser-tab::after {
    border-right: solid 0px transparent;
    filter: drop-shadow(1px 0px 0px var(--tab-border-color));
}

.tab-stack {
    background-color: var(--inactive-tab-color);
    filter: drop-shadow(0px -1px 0px var(--tab-border-color));
}

/* Active tab customizations */
.tabbrowser-tab[selected] > .tab-stack {
    background-color: var(--active-tab-color);
}

.tabbrowser-tab[selected]::before {
    border-right-color: var(--active-tab-color);
}

.tabbrowser-tab[selected]::after {
    border-left-color: var(--active-tab-color);
    z-index: 1;
}

/* Tab hover customizations */
.tabbrowser-tab:not([selected]):hover > .tab-stack {
    background-color: var(--hover-tab-color);
}

.tabbrowser-tab:not([selected]):hover::before {
    border-right-color: var(--hover-tab-color);
}

.tabbrowser-tab:not([selected]):hover::after {
    border-left-color: var(--hover-tab-color);
}

/* Tab text customizations */
.tab-content {
	padding: 0 5px !important;
}

/* color of text on tab */
.tabbrowser-tab[selected="true"] .tab-text.tab-label {
	color: var(--active-tab-text-color) !important;
}

/* Color of Text on inactive tabs */
.tab-text.tab-label {
	color: var(--inactive-tab-text-color) !important;
}

/* Widths of tabs */
.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
    max-width: 224px !important;
    min-width: 100px !important;
}

#TabsToolbar {
    margin-top: 8px;
}

:root[sizemode="maximized"] #navigator-toolbox {
    margin-top: -8px;
}

/* Add padding to the left of first tab */
#tabbrowser-tabs[overflow] .tabbrowser-tab[first-visible-tab]:not([pinned]),
#tabbrowser-tabs[overflow] .tabbrowser-tab[pinned] + .tabbrowser-tab:not([pinned]),
#tabbrowser-tabs:not([overflow]) .tabbrowser-tab:first-child {
	margin-inline-start: 8px !important;
}

/* spacing between overflow arrow and pinned tabs */
#tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox {
  padding-left: 10px
}

/* remove space to left of tabs in windowed mode */
/* .titlebar-spacer {
	display: none;
} */

#tabs-newtab-button {
    margin-left: 20px !important;;
}

.tabbrowser-tab[selected] .tab-secondary-label {
    color: var(--active-tab-text-color);     
}

.tabbrowser-tab .tab-secondary-label {
    color: var(--inactive-tab-text-color);    
}
